
	
	<h3>Purchase </h3>
			<form action='/purchases/search_result'>
			<input id= 'code' name=term placeholder='Search...' />
			<%= submit_tag "Search", :name => nil, :class => 'btn btn-xs btn-primary' %>
		</form>
		