
    <script type="text/javascript">
      function generateBarcode(){
		$(".form-horizontal").submit();
      }

</script>

								<form action='/barcode/barby_barcode_48' class="form-horizontal" role="form">
									<hr />
									<div class="row">
										<div class="col-sm-7">
														
											<input class="input-sm" type="text" name="bcode1" />
											<input class="input-sm" type="text" name="bcode2" />
											<input class="input-sm" type="text" name="bcode3" />
											<input class="input-sm" type="text" name="bcode4" />
											<input class="input-sm" type="text" name="bcode5" />
											<input class="input-sm" type="text" name="bcode6" />
											<input class="input-sm" type="text" name="bcode7" />
											<input class="input-sm" type="text" name="bcode8" />
											<input class="input-sm" type="text" name="bcode9" />
											<input class="input-sm" type="text" name="bcode10" />
											<input class="input-sm" type="text" name="bcode11" />
											<input class="input-sm" type="text" name="bcode12" />
											<input class="input-sm" type="text" name="bcode13" />
											<input class="input-sm" type="text" name="bcode14" />
											<input class="input-sm" type="text" name="bcode15" />
											<input class="input-sm" type="text" name="bcode16" />
											<input class="input-sm" type="text" name="bcode17" />
											<input class="input-sm" type="text" name="bcode18" />
											<input class="input-sm" type="text" name="bcode19" />
											<input class="input-sm" type="text" name="bcode20" />
											<input class="input-sm" type="text" name="bcode21" />
											<input class="input-sm" type="text" name="bcode22" />
											<input class="input-sm" type="text" name="bcode23" />
											<input class="input-sm" type="text" name="bcode24" />
											<input class="input-sm" type="text" name="bcode25" />
											<input class="input-sm" type="text" name="bcode26" />
											<input class="input-sm" type="text" name="bcode27" />
											<input class="input-sm" type="text" name="bcode28" />
											<input class="input-sm" type="text" name="bcode29" />
											<input class="input-sm" type="text" name="bcode30" />
											<input class="input-sm" type="text" name="bcode31" />
											<input class="input-sm" type="text" name="bcode32" />
											<input class="input-sm" type="text" name="bcode33" />
											<input class="input-sm" type="text" name="bcode34" />
											<input class="input-sm" type="text" name="bcode35" />
											<input class="input-sm" type="text" name="bcode36" />
											<input class="input-sm" type="text" name="bcode37" />
											<input class="input-sm" type="text" name="bcode38" />
											<input class="input-sm" type="text" name="bcode39" />
											<input class="input-sm" type="text" name="bcode40" />
											<input class="input-sm" type="text" name="bcode41" />
											<input class="input-sm" type="text" name="bcode42" />
											<input class="input-sm" type="text" name="bcode43" />
											<input class="input-sm" type="text" name="bcode44" />
											<input class="input-sm" type="text" name="bcode45" />
											<input class="input-sm" type="text" name="bcode46" />
											<input class="input-sm" type="text" name="bcode47" />
											<input class="input-sm" type="text" name="bcode48" />
										</div>
										
										<button type="button"  class="btn btn-info btn-sm" onClick="generateBarcode();"/><i class="icon-ok bigger-110"> </i>Print</button>
										
											<input class="hidden" type="submit" />
									</div>

								</form>
