<style>
.myspace{
margin-bottom:7px;
border-radius:4px;
width:170px;
text-align:left;
}
a{
color:#ffffff;
}
</style>
				<div class="page-content">
					<div class="page-content-area">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12 col-sm-3 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-desktop"></i>
													Master Entry</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
													<% if current_user.name == 'admin'%>
														<a target="_blank" href="/categories/new"<button class="btn btn-primary myspace"><i class="icon-tag align-top bigger-125"></i>New Category</button></a>
														<a target="_blank" href="/categories"<button class="btn btn-pink myspace"><i class="icon-tags align-top bigger-125"></i>All Categories</button></a>
													<% end %>
														<a target="_blank" href="/products/new"<button class="btn btn-primary myspace"><i class="icon-leaf align-top bigger-125"></i>New Product</button></a>
														<a target="_blank" href="/products"<button class="btn btn-pink myspace"><i class="icon-leaf align-top bigger-125"></i>All Products</button></a>
														<a target="_blank" href="/brand"<button class="btn btn-primary myspace"><i class="icon-leaf align-top bigger-125"></i>All Brands</button></a>
													</center>
												</div>
											</div>
										</div>
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-user"></i>
												Supplier</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/suppliers/new"<button class="btn btn-info myspace"><i class="icon-user align-top bigger-125"></i>New Supplier</button></a>
														<a target="_blank" href="/suppliers"<button class="btn btn-purple myspace"><i class="icon-user align-top bigger-125"></i>All Suppliers</button></a>
													</center>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-3 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-briefcase"></i>
													Purchase</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/purchases/new"><button class="btn btn-primary briefcase myspace"><i class="icon-briefcase align-top bigger-125"></i>New Purchase</button></a>
														<a target="_blank" href="/purchases/search"><button class="btn btn-danger myspace"><i class="icon-search align-top bigger-125"></i>Search Purchase</button></a>
														<a target="_blank" href="/purchases/report"><button class="btn btn-pink myspace"><i class="icon-list align-top bigger-125"></i>View Purchase</button></a>
													</center>
												</div>
											</div>
										</div>
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-gift"></i>
												Sales</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/sales/new"><button class="btn btn-primary myspace"><i class="icon-gift align-top bigger-125"></i>New Sale</button></a>
														<a target="_blank" href="/day_sales"><button class="btn btn-pink myspace"><i class="icon-tags align-top bigger-125"></i>All Sales</button></a>
														<a target="_blank" href="/sales/search"><button class="btn btn-danger myspace"><i class="icon-search align-top bigger-125"></i>Search Sale</button></a>
														<a target="_blank" href="/sales/report"><button class="btn btn-pink myspace"><i class="icon-list align-top bigger-125"></i>Sales Report</button></a>
													</center>
												</div>
											</div>
										</div>
									</div>
									
									
									<div class="col-xs-12 col-sm-3 widget-container-col ui-sortable">
											<% if current_user.name == 'admin'%>
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-list"></i>
												Reports</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/purchases/report"><button class="btn btn-primary myspace"><i class="icon-list align-top bigger-125"></i>Purchase Report</button></a>
														<a target="_blank" href="/purchases/supplier_report"><button class="btn btn-danger myspace"><i class="icon-list align-top bigger-125"></i>Supplier Wise</button></a>
														<a target="_blank" href="/purchase_register"><button class="btn btn-pink myspace"><i class="icon-list align-top bigger-125"></i>Purchase Register</button></a>
														<a target="_blank" href="/sales/report"><button class="btn btn-pink myspace"><i class="icon-list align-top bigger-125"></i>Sales Report</button></a>
														<a target="_blank" href="/sales_register"><button class="btn btn-danger myspace"><i class="icon-list align-top bigger-125"></i>Sales Register</button></a>
														<a target="_blank" href="sales_return_register"><button class="btn btn-danger myspace"><i class="icon-list align-top bigger-125"></i>Return Register</button></a>
														<a target="_blank" href="select_month_range"><button class="btn btn-success myspace"><i class="icon-list align-top bigger-125"></i>Stock Report</button></a>
														<a target="_blank" href="/graph"><button class="btn btn-primary myspace"><i class="icon-list align-top bigger-125"></i>Sales Graph</button></a>
													</center>
												</div>
											</div>
										</div>
										<% end %>
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-user"></i>
												Customer</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/customers/new"<button class="btn btn-info myspace"><i class="icon-user align-top bigger-125"></i>New Customer</button></a>
														<a target="_blank" href="/customers/new"<button class="btn btn-purple myspace"><i class="icon-user align-top bigger-125"></i>All Customers</button></a>
													</center>
												</div>
											</div>
										</div>									
									</div>
									
										
									<div class="col-xs-12 col-sm-3 widget-container-col ui-sortable">
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-barcode"></i>
												Barcode</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a target="_blank" href="/generate_barcode"><button class="btn btn-pink myspace"><i class="icon-barcode align-top bigger-125"></i>Barcode</button></a>
														<a target="_blank" href="/barcode/barcode_single"><button class="btn btn-danger myspace"><i class="icon-barcode align-top bigger-125"></i>Single Barcode</button></a>
														<a target="_blank" href="/barcode/barcode"><button class="btn btn-pink myspace"><i class="icon-barcode align-top bigger-125"></i>Barcode Grid</button></a>
													</center>
												</div>
											</div>
										</div>
										
										<div class="widget-box ui-sortable-handle">
											<div class="widget-header">
												<h5 class="widget-title smaller"><i class="icon-disk"></i>
												Backup: <%= @ss.strftime('%d/%m/%y %I:%M %p') %> 
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<center>
														<a href="/backup"><button class="btn btn-pink myspace"><i class="icon-file align-top bigger-125"></i>Backup</button></a>
														<% if current_user.name == 'admin'%>
														<a href="/signup"><button class="btn btn-pink myspace"><i class="icon-file align-top bigger-125"></i>Create User</button></a>
														<% end %>
													</center>
												</div>
											</div>
										</div>
										
									</div>

									

								<div class="space"></div>

								</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
		

		<!-- page specific plugin scripts -->


		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			
				$('#simple-colorpicker-1').ace_colorpicker({pull_right:true}).on('change', function(){
					var color_class = $(this).find('option:selected').data('class');
					var new_class = 'widget-box';
					if(color_class != 'default')  new_class += ' widget-color-'+color_class;
					$(this).closest('.widget-box').attr('class', new_class);
				});
			
			
				// scrollables
				$('.scrollable').each(function () {
					var $this = $(this);
					$(this).ace_scroll({
						size: $this.data('size') || 100,
						//styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
					});
				});
				$('.scrollable-horizontal').each(function () {
					var $this = $(this);
					$(this).ace_scroll(
					  {
						horizontal: true,
						styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
						size: $this.data('size') || 500,
						mouseWheelLock: true
					  }
					).css({'padding-top': 12});
				});
				
				$(window).on('resize.scroll_reset', function() {
					$('.scrollable-horizontal').ace_scroll('reset');
				});
			
			
				/**
				//or use slimScroll plugin
				$('.slim-scrollable').each(function () {
					var $this = $(this);
					$this.slimScroll({
						height: $this.data('height') || 100,
						railVisible:true
					});
				});
				*/
				
			
				/**$('.widget-box').on('setting.ace.widget' , function(e) {
					e.preventDefault();
				});*/
			
				/**
				$('.widget-box').on('show.ace.widget', function(e) {
					//e.preventDefault();
					//this = the widget-box
				});
				$('.widget-box').on('reload.ace.widget', function(e) {
					//this = the widget-box
				});
				*/
			
				//$('#my-widget-box').widget_box('hide');
			
				
			
				// widget boxes
				// widget box drag & drop example
			    $('.widget-container-col').sortable({
			        connectWith: '.widget-container-col',
					items:'> .widget-box',
					handle: ace.vars['touch'] ? '.widget-header' : false,
					cancel: '.fullscreen',
					opacity:0.8,
					revert:true,
					forceHelperSize:true,
					placeholder: 'widget-placeholder',
					forcePlaceholderSize:true,
					tolerance:'pointer',
					start: function(event, ui) {
						//when an element is moved, it's parent becomes empty with almost zero height.
						//we set a min-height for it to be large enough so that later we can easily drop elements back onto it
						ui.item.parent().css({'min-height':ui.item.height()})
						//ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
					},
					update: function(event, ui) {
						ui.item.parent({'min-height':''})
						//p.style.removeProperty('background-color');
					}
			    });
			
			});
		</script>
