 <script src="/assets/jquery-ui.js"></script>
<style>
.content_1{width:800px; height:220px; overflow:auto; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.img_del_icon {
padding-left: 5px;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 10px 0;
}
</style>

<script>


if (localStorage.getItem("current_local_sale")) {
	$.get("/sales/last/"+localStorage.getItem('current_local_sale')+"P.json", function(mydata){
		$('#sale_invoice').val(mydata); 
		$('#sale_sale_type').val(localStorage.getItem('current_local_sale')+"P"); 
	});	
}
else {
	localStorage.setItem("current_local_sale", "CB");
	$('#sale_sale_type').val('CBP'); 
	$.get("/sales/last/CBP.json", function(mydata){
		$('#sale_invoice').val(mydata); 
	});	
}

function doc_keyUp(e) {

    // this would test for whichever key is 40 and the ctrl key at the same time
    if (e.ctrlKey && e.shiftKey && (e.keyCode == 122)) {
        if($("#sale_sale_type").val() == 'CBP'){
			$("#sale_sale_type").val('CDP');
			localStorage.setItem("current_local_sale", "CD");
			$.get("/sales/last/CDP.json", function(mydata){
				$('#sale_invoice').val(mydata); 
				$('input[type=submit]').removeClass( 'btn-CB' );
				$('input[type=submit]').addClass( 'btn-CD' );
			});	
		}
		else{
			$("#sale_sale_type").val('CBP');
			localStorage.setItem("current_local_sale", "CB");
			$.get("/sales/last/CBP.json", function(mydata){
				$('#sale_invoice').val(mydata); 
				$('input[type=submit]').removeClass( 'btn-CD' );
				$('input[type=submit]').addClass( 'btn-CB' );
			});	
		}
		
    }
}
// register the handler 
document.addEventListener('keyup', doc_keyUp, false);

$(document).ready(function(){ 
$('input[type=submit]').addClass( 'btn-'+ localStorage.getItem('current_local_sale'));
	$(".vertical").keypress(function(event) {
		if(event.keyCode == 13) { 
		textboxes = $("input.vertical");
		debugger;
		currentBoxNumber = textboxes.index(this);
		if (textboxes[currentBoxNumber + 1] != null) {
			nextBox = textboxes[currentBoxNumber + 1]
			nextBox.focus();
			nextBox.select();
			event.preventDefault();
			return false 
			}
		}
	});
	
	
});
</script>
<div class='enew_table_header' style="width:800px;position:fixed;top:215px;">

	<form action='/sales/add_sale_products/' method=get data-remote=true class='add_sale_products form-inline'>
		<input style='width:10%' class="form-control" id='product_code' type='text' placeholder='Barcode' autofocus>
		<input style='width:40%' class="form-control" name="product_name" id='product_name' data-autocomplete-source ='/search_products.json' type='text' placeholder='Product Name'>
		<input style='width:10%' class="form-control vertical" id='myqty' type='text' name='myqty' placeholder='Qty'>
		<input style='width:10%' class="form-control vertical" id= 'myprice' type='text' name='myprice' placeholder='Price'>
		<select id='sale_version' name='sale_version'> <option value='Sale'>Sale</option> <option value='Return'>Return</option> </select>
		<%= submit_tag "Add" , :class => "btn btn-sm form-control", :style => 'width:9%;' %>
		<div  class="avl_qty" style="color:#bbb;width:9%;border:#d5d5d5 1px solid;padding: 5.5px 5px;background:#fff;position:absolute;top:0px; right:0px">Avl</div>
		
		
	</form>
</div>		

<%= render 'form' %>
