													<form id="sale_report_form" class="form-search" action="/form_submitted">
															<div class="col-xs-4 col-sm-4">
														<label for="id-date-range-picker-1">Start Date</label>
																<div class="input-group">
																	<span class="input-group-addon">
																		<i class="icon-calendar bigger-110"></i>
																	</span>
																	<input id='from_date' class="form-control date-picker" id="from_date" type="text" data-date-format="dd-mm-yyyy" />
																</div>
															</div>
														
															<div class="col-xs-4 col-sm-4">
														<label for="id-date-range-picker-1">End Date</label>
																<div class="input-group">
																	<input id='to_date' class="form-control date-picker" id="to_date" type="text" data-date-format="dd-mm-yyyy" />
																	<span class="input-group-addon">
																		<i class="icon-calendar bigger-110"></i>
																	</span>
																</div>
															</div>
															
															<div class="col-xs-4 col-sm-4">
														<label for="id-date-range-picker-1">&nbsp;</label>
																<br/>
																<button id="sale_report_btn" class="btn btn-info btn-sm" type="button">
																	<i class="icon-ok bigger-110"></i>
																	Submit
																</button>
															</div>
															<input type="submit" style="display:none" />
													</form>
	
  <div class="sale_report" style="clear:both"></div>												
<script>
$( "#sale_report_btn" ).click(function() {
$( "#sale_report_form" ).submit();
});

$( "form" ).submit(function( event ) {
	$.get('/sale_report?from='+$("#from_date" ).val()+'&to='+$("#to_date" ).val(), function(data){
		  $('.sale_report').empty().append(data);
	});
	event.preventDefault();
});
</script>

